@xs: 320px;
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;

// 视觉模块
@input-border: 0;
@input-radius: 9px;
@button-radius: 11px;

// 登录注册卡片设置
@HeaderHeight: 87px;

// 微闻模块
@gap: 16px;
@grid-break: 768px;
